body{
    background: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.clr{
    clear: both;
}

#main-header{
    background-image: url("images/headerbkgrnd.jpg");
    color: #fff;
    height: 150px;
    font-size: 25px;
    line-height: 1.8em;
}

#nav-bar{
    background: #333;
    color: #fff;
    position: sticky;
    top: 0;
    line-height: 1.8em;
}

#nav-bar ul{
    padding: 0;
    list-style: none;
}

#nav-bar li{
    display: inline;
}

#nav-bar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
}

#nav-bar a:hover{
    color: #fff;
    background-color: #555;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
}

#next-session{
    background: gray;
    margin-top: 25px;
    color: white;
    width: 150px;
    position: fixed;
}

.main-section{
    float: left;
    margin-left: 150px;
    width:70%;
    padding: 15px;
    box-sizing: border-box;
    line-height: 1.6em;
}

.main-section h2{
    font-weight: 200;
}

.sidebar{
    float: right;
    width:20%;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar h2{
    font-weight: 200;
}

.page-nav{
    background: gray;
    margin-top: 25px;
    color: white;
    width: 150px;
    position: fixed;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.main-section .button-link{
    padding: 10px;
    background: gray;
    background-size: cover;
    text-decoration: none;
    color: white;
    line-height: 1.8em;
}

/* formating sidebar to window changes*/
@media(max-width:1520px){
    .sidebar{
        width: 19%;
    }
}

@media(max-width:1380px){
    .sidebar{
        width: 18%;
    }
}

@media(max-width:1270px){
    .main-section{
        float: none;
    }
    .sidebar{
        width: 70%;
        float: none;
        margin-left: 150px;
    }
}